<p>
  <b>Startdate:</b>
  <%=h @caldate.startdate %>
</p>

<p>
  <b>Enddate:</b>
  <%=h @caldate.enddate %>
</p>

<p>
  <b>Info:</b>
  <%=h @caldate.info %>
</p>

<p>
  <b>Fullday:</b>
  <%=h @caldate.fullday %>
</p>

<p>
  <b>Account:</b>
  <%=h @caldate.account_id %>
</p>

<p>
  <b>Contact:</b>
  <%=h @caldate.contact.name %>
</p>

<p>
  <b>Dateprio:</b>
  <%=h @caldate.dateprio.prio %>
</p>

<p>
  <b>Datestatus:</b>
  <%=h @caldate.datestatus.status %>
</p>

<p>
  <b>Dateart:</b>
  <%=h @caldate.dateart.art %>
</p>

<p>
  <b>Reminder:</b>
  <%=h @caldate.reminder %>
</p>
<hr>

<table>
  <tr>
    <th>Taskname</th>
    <th>Info</th>
    <th>Progressed</th>
    <th>Dateprio</th>
    <th>Datestatus</th>
    <th>Date</th>
  </tr>

<% for datetask in @caldate.datetasks %>
  <tr>
    <td><%=h datetask.taskname %></td>
    <td><%=h datetask.info %></td>
    <td><%=h datetask.progressed %></td>
    <td><%=h datetask.dateprio.prio %></td>
    <td><%=h datetask.datestatus.status %></td>
    <td><%=h datetask.caldate.info %></td>
    <td><%= link_to 'Show', datetask %></td>
    <td><%= link_to 'Edit', edit_datetask_path(datetask) %></td>
    <td><%= link_to 'Destroy', datetask, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<hr>
<br />

<%= link_to 'New datetask', new_datetask_path %><br><br>

<%= link_to 'Edit', edit_caldate_path(@caldate) %> |
<%= link_to 'Back', caldates_path %>
