<table>
  <tr>
    <th><%= t 'dateart_editnewshowindex_art' %></th>
  </tr>

<% for dateart in datearts %>
  <tr>
    <td><%=h dateart.art %></td>
    <td><%= link_to t('dateart_editnewshowindex_show'), dateart %></td>
    <td><%= link_to t('dateart_editnewshowindex_edit'), edit_dateart_path(dateart) %></td>
    <td><%= link_to t('dateart_editnewshowindex_delete'), dateart, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>