<h1>Listing kbcomments</h1>
<% form_tag :action => "search" do%>
  <p align="right">
    <b>Fulltextsearch : </b>
    <%= text_field_tag :name, "" %>
   <%= submit_tag "Search" %>
  </p>
<% end %>
<table>
  <tr>
    <th>Kbarticle</th>
    <th>Comment</th>
  </tr>

<% for kbcomment in @kbcomments %>
  <tr>
    <td><%= link_to kbcomment.kbarticle_id , kbcomment.kbarticle %></td>
    <td><%=h kbcomment.comment %></td>
    <td><%= link_to 'Show', kbcomment %></td>
    <td><%= link_to 'Edit', edit_kbcomment_path(kbcomment) %></td>
    <td><%= link_to 'Destroy', kbcomment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New kbcomment', new_kbcomment_path %>
