<h1><%= t 'kblang_edit_headline' %></h1>

<%= error_messages_for :kblang %>

<% form_for(@kblang) do |f| %>
<%= render :partial => 'form', :locals => { :f => f, :button_name => t('kblang_editnewshowindex_update') } %>
<% end %>

<%= link_to image_tag("/images/icons/actions/edit-find.png",:height => '24', :width => '24') + t('kblang_editnewshowindex_show'), @kblang %> |
<%= link_to image_tag("/images/icons/actions/go-previous.png",:height => '24', :width => '24') + t('kblang_editnewshowindex_back'), kblangs_path %>
