<h1><%= t 'kblang_index_headline' %></h1>
<% form_tag :action => "search" do%>
  <p align="right">
    <b><%= t 'global_search' %></b>
    <%= text_field_tag :name, "" %>
   <%= submit_tag t('global_search_go') %>
  </p>
<% end %>
<table>
  <tr>
    <th><%= t 'kblang_editnewshowindex_language' %></th>
  </tr>

<% for kblang in @kblangs %>
  <tr>
    <td><%=h kblang.language %></td>
    <td><%= link_to t('kblang_editnewshowindex_show'), kblang %></td>
    <td><%= link_to t('kblang_editnewshowindex_edit'), edit_kblang_path(kblang) %></td>
    <td><%= link_to t('kblang_editnewshowindex_delete'), kblang, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('kblang_editnewshowindex_new'), new_kblang_path %>
