<p>
  <b><%= t 'companies_editnewshowindex_name' %> </b>
  <%=h @company.name %>
</p>
<p>
  <b><%= t 'companies_editnewshowindex_companyart' %> </b>
  <%=h @company.companyart.name %>
</p>

<b><u><p><%= t 'companies_show_locations_headline' %>: </p></u></b>

<%= render :partial => '/adresses/list', :locals => { :adresses => @company.adresses } %>

<br>
  <b><u><p>Contacts from <%= @company.name  %> : </p></u></b>
<br>

<table border="1px">
  <tr>
    <th>Name</th>
    <th>Lastname</th> 
    <th>Position</th>
    <th>Tel</th>
    <th>Mobile</th>
    <th>Email</th>
    <th>Info</th>
    <th>Birthday</th>
    <th>Company</th>
    <th>Functions</th>
  </tr>

<% for contact in @company.contacts %>
  <tr>
    <td><%=h contact.name %></td>
    <td><%=h contact.lastname %></td>
    <td><%=h contact.position %></td>
    <td><%=h contact.tel %></td>
    <td><%=h contact.mobile %></td>
    <td><%=h contact.email %></td>
    <td><%=h contact.Info %></td>
    <td><%=h contact.birthday %></td>
    <td><%=h contact.company.name %> </td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br>




<%= link_to image_tag("/images/icons/actions/edit-find-replace.png",:height => '24', :width => '24') + t('companies_editnewshowindex_edit'), edit_company_path(@company) %> |
<%= link_to image_tag("/images/icons/actions/go-previous.png",:height => '24', :width => '24') + t('companies_editnewshowindex_back'), companies_path %>
