<h1><%= t 'caldate_edit_headline' %></h1>

<%= error_messages_for :caldate %>

<% form_for(@caldate) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :button_name => t('caldate_editnewshowindex_update'), :datearts => @datearts, :datestatuses => @datestatuses, :dateprios => @dateprios , :contacts => @contacts } %>
<% end %>

<%= link_to t('caldate_editnewshowindex_show'), @caldate %> |
<%= link_to t('caldate_editnewshowindex_back'), caldates_path %>
