<table>
  <tr>
    <th></th>
    <th><%= t 'folders_editnewshowindex_fodlername' %></th>
    <th><%= t 'folders_editnewshowindex_info' %></th>
  </tr>

<% for folder in folders %>
  <tr>
    <td><%= image_tag("/images/icons/places/folder.png")%>  </td>
    <td><%=h folder.name %></td>
    <td><%=h folder.info %></td>

    <td><%= link_to image_tag("/images/icons/actions/edit-find.png",:height => '24', :width => '24')+ t('folders_editnewshowindex_show'), folder %></td>
    <td><%= link_to image_tag("/images/icons/actions/edit-find-replace.png",:height => '24', :width => '24')+ t('folders_editnewshowindex_edit'), edit_folder_path(folder) %></td>
    <td><%= link_to image_tag("/images/icons/actions/edit-delete.png",:height => '24', :width => '24')+t('folders_editnewshowindex_delete'), folder, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
