<h1><%= t 'datestatus_index_headline' %></h1>
<% form_tag :action => "search" do%>
  <p align="right">
    <b><%= t 'global_search' %></b>
    <%= text_field_tag :name, "" %>
   <%= submit_tag t('global_search_go') %>
  </p>
<% end %>
<table>
  <tr>
    <th><%= t 'datestatus_editnewshowindex_status' %></th>
  </tr>

<% for datestatus in @datestatuses %>
  <tr>
    <td><%=h datestatus.status %></td>
    <td><%= link_to t('datestatus_editnewshowindex_show'), datestatus %></td>
    <td><%= link_to t('datestatus_editnewshowindex_edit'), edit_datestatus_path(datestatus) %></td>
    <td><%= link_to t('datestatus_editnewshowindex_delete'), datestatus, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('datestatus_editnewshowindex_new'), new_datestatus_path %>
