<h1><%= t 'companies_index_headline' %></h1>
<% form_tag :action => "search" do%>
  <p align="right">
    <b><%= t 'global_search' %></b>
    <%= text_field_tag :name, "" %>
   <%= submit_tag t('global_search_go') %>
  </p>
<% end %>
<table border="1px">
  <tr>
    <th><%= t 'companies_editnewshowindex_name' %></th>
    <th><%= t 'companies_editnewshowindex_companyart' %></th>
  </tr>

<% for company in @companies %>
  <tr>
    <td><%=h company.name %></td>
    <td><%=h company.companyart.name %></td>
    <td><%= link_to t('companies_editnewshowindex_show') , company %></td>
    <td><%= link_to t('companies_editnewshowindex_edit'), edit_company_path(company) %></td>
    <td><%= link_to t('companies_editnewshowindex_delete'), company, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('companies_editnewshowindex_new'), new_company_path %>
