<h1>Listing kblangs</h1>
<% form_tag :action => "search" do%>
  <p align="right">
    <b>Fulltextsearch : </b>
    <%= text_field_tag :name, "" %>
   <%= submit_tag "Search" %>
  </p>
<% end %>
<table>
  <tr>
    <th>Language</th>
  </tr>

<% for kblang in @kblangs %>
  <tr>
    <td><%=h kblang.language %></td>
    <td><%= link_to 'Show', kblang %></td>
    <td><%= link_to 'Edit', edit_kblang_path(kblang) %></td>
    <td><%= link_to 'Destroy', kblang, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New kblang', new_kblang_path %>
