<h1><%= t 'kblang_new_headline' %></h1>

<%= error_messages_for :kblang %>

<% form_for(@kblang) do |f| %>
  <p>
    <b><%= t 'kblang_editnewshowindex_language' %></b><br />
    <%= f.text_field :language %>
  </p>

  <p>
    <%= f.submit t('kblang_editnewshowindex_create') %>
  </p>
<% end %>

<%= link_to t('kblang_editnewshowindex_back'), kblangs_path %>
