<h1>Kbarticle:</h1>
<hr>
<table>
  <tr>
    <th>Symptoms</th>
    <th>Cause</th>
    <th>Solution</th>
    <th>Kbcat</th>
    <th>Kblang</th>
  </tr>
  <tr>
    <td><%=h @kbcomment.kbarticle.symptoms %></td>
    <td><%=h @kbcomment.kbarticle.cause %></td>
    <td><%=h @kbcomment.kbarticle.solution %></td>
    <td><%=h @kbcomment.kbarticle.kbcat.name %></td>
    <td><%=h @kbcomment.kbarticle.kblang.language %></td>
    <td><%= link_to 'Show', @kbcomment.kbarticle %></td>
    <td><%= link_to 'Edit', edit_kbarticle_path(@kbcomment.kbarticle) %></td>
    <td><%= link_to 'Destroy', @kbcomment.kbarticle, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
</table>
<hr>
  
<p>
  <b>Comment:</b>
  <%=h @kbcomment.comment %>
</p>


<%= link_to 'Edit', edit_kbcomment_path(@kbcomment) %> |
<%= link_to 'Back', kbcomments_path %>
