 <p>
    <b><%= t 'contacts_editnewshowindex_name'%></b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b><%= t 'contacts_editnewshowindex_lastname'%></b><br />
    <%= f.text_field :lastname %>
  </p>

  <p>
    <b><%= t 'contacts_editnewshowindex_position'%></b><br />
    <%= f.text_field :position %>
  </p>

  <p>
    <b><%= t 'contacts_editnewshowindex_tel'%></b><br />
    <%= f.text_field :tel %>
  </p>

  <p>
    <b><%= t 'contacts_editnewshowindex_mobile'%></b><br />
    <%= f.text_field :mobile %>
  </p>

  <p>
    <b><%= t 'contacts_editnewshowindex_email'%></b><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <b><%= t 'contacts_editnewshowindex_info'%></b><br />
    <%= f.text_field :Info %>
  </p>

  <p>
    <b><%= t 'contacts_editnewshowindex_birthday'%></b><br />
    <%= f.date_select :birthday , :start_year => 1930 , :end_year => 2008 %>
  </p>

  <p>
    <b><%= t 'contacts_editnewshowindex_company'%></b><br />
    <%= f.collection_select :company_id ,companies, :id, :name %>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
