<p>
  <b><%= t 'contacts_editnewshowindex_name'%></b>
  <%=h @contact.name %>
</p>

<p>
  <b><%= t 'contacts_editnewshowindex_lastname'%></b>
  <%=h @contact.lastname %>
</p>

<p>
  <b><%= t 'contacts_editnewshowindex_position'%></b>
  <%=h @contact.position %>
</p>

<p>
  <b><%= t 'contacts_editnewshowindex_tel'%></b>
  <%=h @contact.tel %>
</p>

<p>
  <b><%= t 'contacts_editnewshowindex_mobile'%></b>
  <%=h @contact.mobile %>
</p>

<p>
  <b><%= t 'contacts_editnewshowindex_email'%></b>
  <%=h @contact.email %>
</p>

<p>
  <b><%= t 'contacts_editnewshowindex_info'%></b>
  <%=h @contact.Info %>
</p>

<p>
  <b><%= t 'contacts_editnewshowindex_birthday'%></b>
  <%=h @contact.birthday %>
</p>
<p>
  <b><%= t 'contacts_editnewshowindex_company'%></b>
  <%=h @contact.company.name %>
</p>


<%= render :partial => '/caldates/list', :locals => { :caldates => @contact.caldates, :today => @today } %>

<hr>
  <h1>Files:</h1>
  <br>
<%= render :partial => '/filedatas/list', :locals => { :filedatas => @contact.filedatas} %>



<%= link_to image_tag("/images/icons/actions/edit-find-replace.png",:height => '24', :width => '24') + t('contacts_editnewshowindex_edit'), edit_contact_path(@contact) %> |
<%= link_to image_tag("/images/icons/actions/go-previous.png",:height => '24', :width => '24') + t('contacts_editnewshowindex_back'), contacts_path %>
