<h1><%=h t('role_edit_headline')%></h1>

<% form_for(@role) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f, :button_name => t('role_editnewshowindex_update') } %>
<% end %>

<%= link_to image_tag("/images/icons/actions/edit-find.png",:height => '24', :width => '24') + t('role_editnewshowindex_show'), @role %> |
<%= link_to image_tag("/images/icons/actions/go-previous.png",:height => '24', :width => '24') + t('role_editnewshowindex_back'), roles_path %>
