<p>
  <b><%=h t('role_editnewshowindex_rolename')%></b>
  <%=h @role.rolename %>
</p>

<table border="1">
<tr>
  <th><%=h t('role_editnewshowindex_controller') %></th>
  <th><%=h t('role_editnewshowindex_rightread') %></th>
  <th><%=h t('role_editnewshowindex_rightcreate') %></th>
  <th><%=h t('role_editnewshowindex_rightupdate') %></th>
  <th><%=h t('role_editnewshowindex_rightdelete') %></th>
</tr>
<tr>
  <td>Account</td>
  <td><%=h @role.account_read %></td>
  <td><%=h @role.account_create %></td>
  <td><%=h @role.account_update %></td>
  <td><%=h @role.account_delete %></td>
</tr>
<tr>
  <td>Adress</td>
  <td><%=h @role.adress_read %></td>
  <td><%=h @role.adress_create %></td>
  <td><%=h @role.adress_update %></td>
  <td><%=h @role.adress_delete %></td>
</tr>
<tr>
  <td>Caldate</td>
  <td><%=h @role.caldate_read %></td>
  <td><%=h @role.caldate_create %></td>
  <td><%=h @role.caldate_update %></td>
  <td><%=h @role.caldate_delete %></td>
</tr>
<tr>
  <td>Company</td>
  <td><%=h @role.company_read %></td>
  <td><%=h @role.company_create %></td>
  <td><%=h @role.company_update %></td>
  <td><%=h @role.company_delete %></td>
</tr>
<tr>
  <td>Companyart</td>
  <td><%=h @role.companyart_read %></td>
  <td><%=h @role.companyart_create %></td>
  <td><%=h @role.companyart_update %></td>
  <td><%=h @role.companyart_delete %></td>
</tr>
<tr>
  <td>Contact</td>
  <td><%=h @role.contact_read %></td>
  <td><%=h @role.contact_create %></td>
  <td><%=h @role.contact_update %></td>
  <td><%=h @role.contact_delete %></td>
</tr>
<tr>
  <td>Dashblog</td>
  <td><%=h @role.dashblog_read %></td>
  <td><%=h @role.dashblog_create %></td>
  <td><%=h @role.dashblog_update %></td>
  <td><%=h @role.dashblog_delete %></td>
</tr>
<tr>
  <td>Dateart</td>
  <td><%=h @role.dateart_read %></td>
  <td><%=h @role.dateart_create %></td>
  <td><%=h @role.dateart_update %></td>
  <td><%=h @role.dateart_delete %></td>
</tr>
<tr>
  <td>Dateprio</td>
  <td><%=h @role.dateprio_read %></td>
  <td><%=h @role.dateprio_create %></td>
  <td><%=h @role.dateprio_update %></td>
  <td><%=h @role.dateprio_delete %></td>
</tr>
<tr>
  <td>Datestatus</td>
  <td><%=h @role.datestatus_read %></td>
  <td><%=h @role.datestatus_create %></td>
  <td><%=h @role.datestatus_update %></td>
  <td><%=h @role.datestatus_delete %></td>
</tr>
<tr>
  <td>Datetask</td>
  <td><%=h @role.datetask_read %></td>
  <td><%=h @role.datetask_create %></td>
  <td><%=h @role.datetask_update %></td>
  <td><%=h @role.datetask_delete %></td>
</tr>
<tr>
  <td>Filedata</td>
  <td><%=h @role.filedata_read %></td>
  <td><%=h @role.filedata_create %></td>
  <td><%=h @role.filedata_update %></td>
  <td><%=h @role.filedata_delete %></td>
</tr>
<tr>
  <td>Folder</td>
  <td><%=h @role.folder_read %></td>
  <td><%=h @role.folder_create %></td>
  <td><%=h @role.folder_update %></td>
  <td><%=h @role.folder_delete %></td>
</tr>
<tr>
  <td>KBArticle</td>
  <td><%=h @role.kbarticle_read %></td>
  <td><%=h @role.kbarticle_create %></td>
  <td><%=h @role.kbarticle_update %></td>
  <td><%=h @role.kbarticle_delete %></td>
</tr>
<tr>
  <td>Kbcat</td>
  <td><%=h @role.kbcat_read %></td>
  <td><%=h @role.kbcat_create %></td>
  <td><%=h @role.kbcat_update %></td>
  <td><%=h @role.kbcat_delete %></td>
</tr>
<tr>
  <td>KBcomment</td>
  <td><%=h @role.kbcomment_read %></td>
  <td><%=h @role.kbcomment_create %></td>
  <td><%=h @role.kbcomment_update %></td>
  <td><%=h @role.kbcomment_delete %></td>
</tr>
<tr>
  <td>Kblang</td>
  <td><%=h @role.kblang_read %></td>
  <td><%=h @role.kblang_create %></td>
  <td><%=h @role.kblang_update %></td>
  <td><%=h @role.kblang_delete %></td>
</tr>
<tr>
  <td>Part</td>
  <td><%=h @role.part_read %></td>
  <td><%=h @role.part_create %></td>
  <td><%=h @role.part_update %></td>
  <td><%=h @role.part_delete %></td>
</tr>
<tr>
  <td>Product</td>
  <td><%=h @role.product_read %></td>
  <td><%=h @role.product_create %></td>
  <td><%=h @role.product_update %></td>
  <td><%=h @role.product_delete %></td>
</tr>

</table>





<%= link_to t('role_editnewshowindex_edit'), edit_role_path(@role) %> |
<%= link_to t('role_editnewshowindex_back'), roles_path %>
