<table>
  <tr>
    <th><%= t 'companiesarts_editnewshowindex_name'%></th>
  </tr>

<% for companyart in companyarts %>
  <tr>
    <td><%=h companyart.name %></td>
    <td><%= link_to image_tag("/images/icons/actions/edit-find.png",:height => '24', :width => '24')+ t('companiesarts_editnewshowindex_show'), companyart %></td>
    <td><%= link_to image_tag("/images/icons/actions/edit-find-replace.png",:height => '24', :width => '24')+ t('companiesarts_editnewshowindex_edit'), edit_companyart_path(companyart) %></td>
    <td><%= link_to image_tag("/images/icons/actions/edit-delete.png",:height => '24', :width => '24')+t('companiesarts_editnewshowindex_delete'), companyart, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>