<h1>Editing companyart</h1>

<%= error_messages_for :companyart %>

<% form_for(@companyart) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @companyart %> |
<%= link_to 'Back', companyarts_path %>
