<h1><%= t 'dashblogs_edit_headline'%></h1>

<%= error_messages_for :dashblog %>

<% form_for(@dashblog) do |f| %>
 <%= render :partial => 'form', :locals => { :f => f, :button_name => t('dashblogs_editnewshowindex_update') } %>
<% end %>

<%= link_to image_tag("/images/icons/actions/edit-find.png",:height => '24', :width => '24') + t('dashblogs_editnewshowindex_show'), @dashblog %> |
<%= link_to image_tag("/images/icons/actions/go-previous.png",:height => '24', :width => '24') + t('dashblogs_editnewshowindex_back'), dashblogs_path %>
