<h1><%= t 'dashblogs_new_headline'%></h1>

<%= error_messages_for :dashblog %>

<% form_for(@dashblog) do |f| %>
  <p>
    <b><%= t 'dashblogs_editnewshowindex_title' %></b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b><%= t 'dashblogs_editnewshowindex_blogtext' %></b><br />
    <%= f.text_area :blogtext %>
  </p>

  <p>
    <b><%= t 'dashblogs_editnewshowindex_published' %></b><br />
    <%= f.check_box :published %>
  </p>

  <p>
    <%= f.submit t('dashblogs_editnewshowindex_create') %>
  </p>
<% end %>

<%= link_to t('dashblogs_editnewshowindex_back'), dashblogs_path %>
