<h1><%= t 'kbcats_new_headline' %></h1>

<%= error_messages_for :kbcat %>

<% form_for(@kbcat) do |f| %>
  <p>
    <b><%= t 'kbcats_editnewshowindex_name' %></b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit t('kbcats_editnewshowindex_create') %>
  </p>
<% end %>

<%= link_to t('kbcats_editnewshowindex_back'), kbcats_path %>
