<h1><%= t 'dateprio_edit_headline' %></h1>

<%= error_messages_for :dateprio %>

<% form_for(@dateprio) do |f| %>
  <p>
    <b><%= t 'dateprio_editnewshowindex_prio' %></b><br />
    <%= f.text_field :prio %>
  </p>

  <p>
    <%= f.submit t('dateprio_editnewshowindex_update') %>
  </p>
<% end %>

<%= link_to t('dateprio_editnewshowindex_show'), @dateprio %> |
<%= link_to t('dateprio_editnewshowindex_back'), dateprios_path %>
