<h1>Editing folder</h1>

<%= error_messages_for :folder %>

<% form_for(@folder) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Info</b><br />
    <%= f.text_area :info %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @folder %> |
<%= link_to 'Back', folders_path %>
