<h1><%= t 'folders_new_headline' %></h1>

<%= error_messages_for :folder %>

<% form_for(@folder) do |f| %>
  <p>
    <b><%= t 'folders_editnewshowindex_fodlername' %></b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b><%= t 'folders_editnewshowindex_info' %></b><br />
    <%= f.text_area :info %>
  </p>

  <p>
    <%= f.submit t('folders_editnewshowindex_create') %>
  </p>
<% end %>

<%= link_to t('folders_editnewshowindex_back'), folders_path %>
