<h1>Listing dateart</h1>
<% form_tag :action => "search" do%>
  <p align="right">
    <b>Fulltextsearch : </b>
    <%= text_field_tag :name, "" %>
   <%= submit_tag "Search" %>
  </p>
<% end %>
<table>
  <tr>
    <th>Prio</th>
  </tr>

<% for dateart in @datearts %>
  <tr>
    <td><%=h dateart.art %></td>
    <td><%= link_to 'Show', dateart %></td>
    <td><%= link_to 'Edit', edit_dateart_path(dateart) %></td>
    <td><%= link_to 'Destroy', dateart, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New dateprio', new_dateart_path %>