<h1><%= t 'dateart_new_headline' %></h1>

<%= error_messages_for :dateart %>

<% form_for(@dateart) do |f| %>
  <p>
    <b><%= t 'dateart_editnewshowindex_art' %></b><br />
    <%= f.text_field :art %>
  </p>

  <p>
    <%= f.submit t('dateart_editnewshowindex_create') %>
  </p>
<% end %>

<%= link_to t('dateart_editnewshowindex_back'), datearts_path %>
