<h1><%= t 'dateprio_edit_headline' %></h1>

<%= error_messages_for :dateprio %>

<% form_for(@dateprio) do |f| %>
<%= render :partial => 'form', :locals => { :f => f, :button_name => t('dateprio_editnewshowindex_update') } %>
<% end %>

<%= link_to image_tag("/images/icons/actions/edit-find.png",:height => '24', :width => '24') + t('dateprio_editnewshowindex_show'), @dateprio %> |
<%= link_to image_tag("/images/icons/actions/go-previous.png",:height => '24', :width => '24') + t('dateprio_editnewshowindex_back'), dateprios_path %>
