<h1><%= t 'dateprio_index_headline' %></h1>
<% form_tag :action => "search" do%>
  <p align="right">
    <b><%= t 'global_search' %></b>
    <%= text_field_tag :name, "" %>
   <%= submit_tag t('global_search_go') %>
  </p>
<% end %>
<table>
  <tr>
    <th><%= t 'dateprio_editnewshowindex_prio' %></th>
  </tr>

<% for dateprio in @dateprios %>
  <tr>
    <td><%=h dateprio.prio %></td>
    <td><%= link_to t('dateprio_editnewshowindex_show'), dateprio %></td>
    <td><%= link_to t('dateprio_editnewshowindex_edit'), edit_dateprio_path(dateprio) %></td>
    <td><%= link_to t('dateprio_editnewshowindex_delete'), dateprio, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('dateprio_editnewshowindex_new'), new_dateprio_path %>
