<h1><%= t 'companiesarts_index_headline' %></h1>
<% form_tag :action => "search" do%>
  <p align="right">
    <b><%= t 'global_search' %></b>
    <%= text_field_tag :name, "" %>
   <%= submit_tag t('global_search_go')%>
  </p>
<% end %>
<table>
  <tr>
    <th><%= t 'companiesarts_editnewshowindex_name'%></th>
  </tr>

<% for companyart in @companyarts %>
  <tr>
    <td><%=h companyart.name %></td>
    <td><%= link_to t('companiesarts_editnewshowindex_show'), companyart %></td>
    <td><%= link_to t('companiesarts_editnewshowindex_edit'), edit_companyart_path(companyart) %></td>
    <td><%= link_to t('companiesarts_editnewshowindex_delete'), companyart, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('companiesarts_editnewshowindex_create'), new_companyart_path %>
