<p>
    <b><%= t 'adress_editnewshowindex_street' %></b><br />
    <%= f.text_field :street %>
  </p>

  <p>
    <b><%= t 'adress_editnewshowindex_streetnr' %></b><br />
    <%= f.text_field :streetnr %>
  </p>

  <p>
    <b><%= t 'adress_editnewshowindex_zip' %></b><br />
    <%= f.text_field :zip %>
  </p>

  <p>
    <b><%= t 'adress_editnewshowindex_area' %></b><br />
    <%= f.text_field :area %>
  </p>

  <p>
    <b><%= t 'adress_editnewshowindex_land' %></b><br />
    <%= f.text_field :land %>
  </p>

  <p>
    <b><%= t 'adress_editnewshowindex_postcode' %></b><br />
    <%= f.text_field :postcode %>
  </p>

 <p><b><%= t 'adress_editnewshowindex_company' %></b><br />
    <%= f.collection_select :company_id ,companies, :id, :name %>
  </p>

  <p>
    <%= f.submit button_name %>
  </p>
